  <app-student-header></app-student-header>

  <!-- My Courses -->
  <section id="result" class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/img/avatar.png" alt="" class="d-block img-fluid mb-3">
            <h3>Samith Basnayaka</h3>
          </div>
  
          <div class="col-lg-9">
            <h3>Enrolled Courses...</h3>
            <form class="form-inline md-form mr-auto mb-4">
              <input class="form-control mr-sm-2" type="text" placeholder="Search Course" aria-label="Search">
              <button class="btn btn-rounded btn-sm my-0" type="submit">Search</button>
            </form> 
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>
                      <div class="card" style="width: 18rem;">
                      <img src="assets/img/java_course.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Category: Web Development</h6>
                        </div>
                      </div>
                  </td>
                  <td>
                    <h4>Full Stack Web Development</h4> 
                    <b>Tech stack</b> <br>
                     Java Spring , Angular JS 
                  </td>
                  <td>
                      <button onclick="location.href='course.html'" type="button" class="btn btn-light" >Go to the course</button> 
                  </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <div class="card" style="width: 18rem;">
                        <img src="assets/img/php_course.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Category: Web Development</h6>
                          </div>
                        </div>
                    </td>
                    <td>
                      <h4>PHP Web Development</h4> 
                      <b>Tech stack</b> <br>
                       PHP , Mysql
                    </td>
                    <td>
                        <a href="course.html">
                            <button type="button" class="btn btn-light">Go to the course</button> 
                        </a>
                        
                    </td>
                  </tr><tr>
                      <th scope="row">3</th>
                      <td>
                          <div class="card" style="width: 18rem;">
                          <img src="assets/img/ui_course.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Category: UI/UX</h6>
                            </div>
                          </div>
                      </td>
                      <td>
                        <h4>Full Stack Web Development</h4> 
                        <b>Tech stack</b> <br>
                         Java Spring , Angular JS 
                      </td>
                      <td>
                        <button type="button" class="btn btn-light">Go to the course</button> 
                      </td>
                    </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>


  