  <app-student-header></app-student-header>

  <!-- My Courses -->
  <section id="result" class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/img/avatar.png" alt="" class="d-block img-fluid mb-3">
            <h3>{{currenctUser.fname}} {{currenctUser.lname}}</h3>
            <h6>User Name : {{currenctUser.uname}} </h6>
            <h6>Email : {{currenctUser.email}}</h6>
          </div>
  
          <div class="col-lg-9">
            <h3>Enrolled Courses...</h3>
            <table class="table">
              <tbody>
                <tr *ngFor="let course of enrolled; let i = index">
                  <th scope="row">{{i}}</th>
                  <td>
                    <div class="card" style="width: 18rem;">
                    <img src="{{course.cover}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Category: {{course.category}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h4>{{course.name}}</h4> 
                    <b>Tech stack</b> <br>
                    {{course.tech}}
                  </td>
                  <td>
                    <!-- View Course button goes here --> 
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>


  