  <app-student-header></app-student-header>

  <!-- My Courses -->
  <section id="result" class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/img/avatar.png" alt="" class="d-block img-fluid mb-3">
            <h3>Samith Basnayaka</h3>
          </div>
  
          <div class="col-lg-9">
            <h3>Enrolled Courses...</h3>
            <form class="form-inline md-form mr-auto mb-4">
              <input class="form-control mr-sm-2" type="text" placeholder="Search Course" aria-label="Search">
              <button class="btn btn-rounded btn-sm my-0" type="submit">Search</button>
            </form> 
            <table class="table">
              <tbody>
                <tr *ngFor="let course of courses">
                  <th scope="row">1</th>
                  <td>
                    <div class="card" style="width: 18rem;">
                    <img src="{{course.cover}}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Category: {{course.category}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h4>{{course.name}}</h4> 
                    <b>Tech stack</b> <br>
                    {{course.tech}}
                  </td>
                  <td>
                    <!-- View Course button goes here --> 
                  </td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>


  