<app-header> </app-header>
  
<div style="margin-top: 105px;"></div>

<!-- Cover Pic-->
<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center">
            <h1 class="display-2 mt-5 pt-5">
              Sharpen Your Skills With Us.
            </h1>
            <p class="lead">Find all courses you desire from one place</p>
            <a href="#about" class="btn btn-outline-secondary btn-lg text-white">
              <i class="fas fa-arrow-right"></i> Read More
            </a>
          </div>
          <div class="col-lg-6">
          <!-- -->  
          </div>
        </div>
      </div>
    </div>
</section>

<app-search> </app-search>

<!-- ABOUT Trainer.com -->
<section id="about" class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-header mb-5">
            <h1 class="text-primary pb-3">
              Why Trainer.com?
            </h1>
            <p class="lead pb-3">
                Flexible learning program for everybody.
            </p>
            <p>
              Get a custom learning plan tailored to fit your busy life. Along with easy monthly payments you can learn at 
              your own pace and reach your personal goals.</p>
              <p>Get a knowledgeable mentor who guides your learning and is focused on answering your questions, motivating 
                you and keeping you on track.</p>
              <p>With real world projects and immersive content built in partnership with top tier companies, you’ll master 
                the tech skills companies want.</p>
          </div>
        </div>
      </div>
    </div>
</section>

<app-subscribe></app-subscribe>

<app-footer></app-footer>