<!-- Search Bar -->
<section id="newsletter" class="bg-dark text-white py-5">
    <div class="container">
      <form (ngSubmit)="searchcourse(s)" #s="ngForm">
      <div class="row">
        <div class="form-group col-md-9">
          <input type="text" class="form-control form-control-lg mb-resp" placeholder="Find Your Course" id="word" name="word" ngModel>
        </div>
        <div class="form-group col-md-3">
          <button class="btn btn-primary btn-lg btn-block">
            <i class="fas fa-envelope-open-o"></i> Search
          </button>
        </div>
      </div>
      </form>
    </div>
</section>