<!-- Search Bar -->
<section id="newsletter" class="bg-dark text-white py-5">
    <div class="container">
      <form >
      <div class="row">
        <div class="col-md-8">
          <input type="text" class="form-control form-control-lg mb-resp" placeholder="Find Your Course">
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary btn-lg btn-block">
            <i class="fas fa-envelope-open-o"></i> Search
          </button>
        </div>
        <div class="col-md-1">
          <a routerLink="searchresults">
            Advanced Search
          </a>
        </div>
      </div>
      </form>
    </div>
</section>