
<app-mentor-header></app-mentor-header>

<!-- User -->
<section  class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h5>{{currenctUser.fname}} {{currenctUser.lname}}</h5>
        <h6>User Name : {{currenctUser.uname}} </h6>
        <h6>Email : {{currenctUser.email}}</h6>
      </div>
      <div class="col-md-3">
        <p></p>
      </div>
      <div class="col-md-3">
          <p></p>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</section>

<!-- ACTIONS -->
<section id="actions" class="py-2 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addModal">
          <i class="fas fa-plus"></i> Add New Course
      </a>
      </div>
      <div class="col-md-3">
        <button href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#updateModal" [disabled]="!select" >
          <i class="fas fa-minus"></i> Update Course
        </button>
      </div>
      <div class="col-md-3">
        <button href="#" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#deleteModal" [disabled]="!select" >
          <i class="fas fa-minus"></i> Delete Course
        </button>
      </div>
      <div class="col-md-3">
        <p>{{selectingName}}</p>
      </div>
    </div>
  </div>
</section>

<!-- Courses -->
<section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- search goes here -->
          <div class="card">
            <div class="card-header">
              <h3>Existing Courses</h3>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Course</th>
                  <th>Category</th>
                  <th>Technoigies</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courses; let i = index" (click)="onSelect(i)">
                  <td>{{i}}</td>
                  <td>{{course.name}}</td>
                  <td>{{course.category}}</td>
                  <td>{{course.tech}}</td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- ADD MODAL -->
<div class="modal fade" id="addModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Add New Course</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addCourse(f)" #f="ngForm" > 
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="name" name="name" ngModel required>
          </div>
          <div class="form-group">
            <label for="body">Category</label>
            <input type="text" class="form-control" id="category" name="category" ngModel required>
          </div>
          <div class="form-group">
            <label for="body">Technologies</label>
            <input type="text" class="form-control" id="tech" name="tech" ngModel required>
          </div>
          <div class="form-group">
            <label for="body">Description</label>
            <input type="text" class="form-control" id="description" name="description" ngModel required>
          </div>
          <div class="form-group modal-footer">
            <button class="btn btn-primary" type="submit"  [disabled]="!f.valid">Add</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Update MODAL -->
<div class="modal fade" id="updateModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Update Course</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateCourse(u)" #u="ngForm" > 
          <div class="form-group">
            <input type="text" class="form-control" id="index" name="index" ngModel required hidden>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="name" name="name" ngModel required ng-bind="coursename">
          </div>
          <div class="form-group">
            <label for="body">Category</label>
            <input type="text" class="form-control" id="category" name="category" ngModel required>
          </div>
          <div class="form-group">
            <label for="body">Technologies</label>
            <input type="text" class="form-control" id="tech" name="tech" ngModel required>
          </div>
          <div class="form-group">
            <label for="body">Description</label>
            <input type="text" class="form-control" id="description" name="description" ngModel required>
          </div>
          <div class="form-group modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="!u.valid">Update</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Delete MODAL -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Delete Course</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="deleteCourse(d)" #d="ngForm" > 
          <div class="form-group">
            <label for="title">Please confirm to delete the course?</label>
            <input type="text" class="form-control" id="name" name="index" ngModel required hidden>
          </div>
          <div class="form-group modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="!d.valid" >Confirm</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
