
<app-mentor-header></app-mentor-header>

<!-- Courses -->
<section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Course">
            <button class="btn" type="submit">Search</button>
          </form>
          <div class="card">
            <div class="card-header">
              <h4>Existing course... </h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Course</th>
                  <th>Category</th>
                  <th>Publish date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Course One</td>
                  <td>Web Development</td>
                  <td>May 10 2019</td>
                  <td>
                    <a href="course_edit.html" class="btn btn-secondary">
                      <i class="fas fa-angle-double-right"></i> Edit
                    </a>
                    <a href="" class="btn btn-secondary">
                      <i class="fas fa-angle-double-right"></i> Disable
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              <h4>Add New Course. </h4>
            </div>

            <form>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="category">Category</label>
                  <select class="form-control" id="cat">
                    <option value="1">Web Development</option>
                    <option value="2">Cloud Computing</option>
                    <option value="3">UI/UX</option>
                    <option value="4">Programming</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="image">Upload Image</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" id="cover">
                    <label for="image" class="custom-file-label">Choose File</label>
                  </div>
                  <small class="form-text text-muted">Max Size 3mb</small>
                </div>
                <div class="form-group">
                  <label for="body">Tech Stack</label>
                  <textarea  class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label for="body">Description</label>
                  <textarea  class="form-control"></textarea>
                </div>
                <input type="submit" value="ADD">
              </form>   

          </div>

        </div>
      </div>
    </div>
  </section>
